@import url(layout.css);

body {
    background-color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
    position: relative;
    font-size: .9em;
}

nav {
    width: 100%;
    justify-content: center;
    align-items: center;
}

main {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 100vh;
    min-height: 100svh;
    background-color: rgba(255, 255, 255, 0.37);
}

h1 {
    text-align: center;
}

.wrapper-comentario {
    padding: 20px 10px;
    color: black;
    display: grid;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    grid-template-columns: repeat(1, 1fr);
}

.container-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(179, 179, 179, 0.671);
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.164);
    font-size: 1.2em;
}

.comment-email {
    font-weight: 700;
}

@media (min-width: 1170px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        padding: 20px;
    }

    header a {
        min-width: max-content;
        font-size: 1.6em;
    }

    main {
        width: 70%;
        box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.048);
    }

    h1 {
        font-size: 3em;
    }

    .wrapper-comentario {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 50px;
    }
}