@import url(layout.css);

body {
    background-color: var(--secondary-color);
}

main {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--primary-color);
}

h1 {
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 2.5em;
}

.wrapper-comentario {
    padding: 20px 10px;
    color: black;
    display: grid;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    grid-template-columns: 100%;
    justify-items: center;
}

.container-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    background-color: rgba(179, 179, 179, 0.671);
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.164);
    font-size: 1.2em;
}

.email-text {
    width: 100%;
    text-align: justify;
}

.comment-email {
    font-weight: 700;
}

.comment-text {
    word-wrap: break-word;
    max-height: fit-content;
    width: 100%;
    overflow: hidden;
    text-align: justify;
}

@media (min-width: 1170px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 70%;
        box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.048);
    }

    h1 {
        font-size: 3em;
    }

    .wrapper-comentario {
        grid-template-columns: repeat(3, 32%);
        padding: 0 50px;
    }
}