@import url("./layout.css");

header {
    background: rgba(0, 0, 0, 0.555);
}

section.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url("../images/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    height: 100vh;
    height: 100svh;
    width: 100%;
    z-index: -100;
    color: white;
}

.landing-section h1 {
    text-align: center;
    font-size: 5em;
}

.landing-section h3 {
    font-size: 3em;
}

.landing-section a {
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    width: 7em;
    transition: .2s;
}

.landing-section a:hover {
    color: black;
    background-color: white;
}

/* fale conosco */

section.contate-nos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #344734;
    color: white;
    min-height: 100svh;
    min-height: 100vh;
    max-height: fit-content;
}

#quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 60px;
    height: 100vh;
    box-shadow: 15px 0 10px -8px rgba(0, 0, 0, .25);
}

#quem-somos p {
    background-color: #b0b0b079;
    padding: 25px;
    width: 540px;
    border-radius: 15px;
    font-size: 1.3em;
}

#contato, 
.contato-container, 
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato {
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 100%;
}

#contato h2 {
    font-family: 'Six Caps', sans-serif;
    font-weight: 400;
    font-size: 5em;
    text-align: center;
}

.contato-container {
    width: inherit;
    align-items: flex-start;
    gap: 1em;
}

.contato-container img {
    width: 100px;
    border-radius: 50px;
}

.contato-container form {
    min-width: 80%;
    flex-direction: column;
    background-color: #b0b0b079;
    padding: 20px 30px;
    border-radius: 15px;
    gap: 1em;
}

form label {
    font-family: 'Six Caps', sans-serif;
    font-size: 3em;
}

form div {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    display: block;
}

textarea#fale-conosco-contato {
    resize: none;
    height: 15em;
}

form button {
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 1.3em;
    color: white;
    background-color: black;
}

@media (max-width: 1280px) {
    nav, nav a {
        width: auto;
    }

    section.contate-nos {
        flex-direction: column;
    }

    #quem-somos {
        padding: 25px;
        box-shadow: none;
        height: fit-content;
    }

    #quem-somos p {
        width: fit-content;
    }

    #contato {
        padding-bottom: 50px;
    }

    .contato-container img {
        display: none;
    }
}
