@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Six+Caps&display=swap');

:root {
    --primary-color: #344734;
    --secondary-color: #B4AA90;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

nav,
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}


footer {
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
    background-color: black;
    font-family: 'Six Caps', sans-serif;
    font-size: 3.5em;
    bottom: 0;
}

@media (max-width: 1280px) {
    footer {
        flex-direction: column;
    }
}