@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url(./layout.css);

*, *:after, *:before {
	box-sizing: border-box;
}
h1{
    color:white;
    margin-left:14%;
}
body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
    background-size:cover;
	background-image: url(https://wallpapers.com/images/hd/museum-background-ar4wuzdgkobt7g65.jpg);
	padding: 0 2rem;
}

img {
	max-width: 100%;
	display: block;
}

input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: rgb(30, 221, 212);
	background-color: #344734;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
    position: relative;
    top: 70px;
}



.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: rgb(255,255,255);
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}
.input-label::selection{
	visibility: hidden;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
}
&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
}
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	


.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #d3cd58;
	border-radius: 6px;
	border: 0;
}
&:focus {
		outline: 0;
	}


.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
}
a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}


