@import url(./layout.css);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--secondary-color);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 3em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 40px;
    width: 100%;
    min-height: 320px;
    max-height: 100%;
    background-color: rgba(179, 179, 179, 0.671);
    border-radius: 20px;
}

form div {
    width: 100%;
}

.confirm-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    display: block;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
}

.confirm-label {
    display: inline;
}

input, 
select {
    width: 100%;
    font-size: 1.3em;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

input[type=checkbox] {
    height: 1.2em;
    width: 1.2em;
    outline: none;
}
 
button {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
}

button:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}

@media (min-width: 1170px) {
    form, main {
        width: 60%;
    }
}
.container-perfil{
    font-size:2em;
    padding:20px 330px 20px 330px;
    border-radius:20px;
    color:white;
    background-color:rgba(12, 57, 19, 0.529);
    text-align:center;
    

}
.container-perfil spam{

    padding:20px;
}
.container-perfil p{
    padding:20px;
    font-weight:bolder;
    background-color:rgba(12, 57, 19, 0.529);
    margin-bottom:10px;
    border-radius:30px;

    
}
.container-perfil h1{
    font-size:1.5em;
    margin-bottom:20px;
}
.container-perfil h3{
    margin-bottom:20px;
}