@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --br: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.container {
  text-align: center;
}
.row {
  display: flex;
  gap: 20px;
}
.card {
  width: 350px;
  background: var(--primary-color);
  padding: 25px;
  border-radius: var(--br);
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0px 3px 10px 5px #e9e9e9;
}
.card img {
  max-width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: 4px solid var(--bc, #000);
}
h1 {
  margin: 20px 0;
}
h2 {
  margin: 15px 0 5px;
}
.card .role {
  font-size: 80%;
  color: #444;
  margin-bottom: 20px;
}
.card a {
  background: var(--btn, #000);
  color: #fff;
  padding: 10px 15px;
  width: 100%;
  display: block;
  border-radius: var(--br);
  text-decoration: none;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .row {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 420px) {
  .card {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}   