@import url(layout.css);

body {
  background-color: var(--primary-color);
}
main,
.dev-wrapper,
.dev-container,
.dev-container figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
  gap: 30px;
}

h1 {
  background-color: crimson;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4em;
  width: 100%;
  text-align: center;
}

main a,
main p {
  text-decoration: underline;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.05em;
}

.dev-wrapper {
  gap: 10px;
}

.dev-container {
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: white;
  width: 25%;
  height: 400px;
  padding: 10px;
}

.dev-container h2 {
  color: black;
  font-size: 2em;
  text-align: center;
}

.dev-container figure {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.dev-container img {
  width: 100%;
  height: auto;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes img {
  width: 50px;
  height: 50px;
}

@media (max-width: 930px) {
  main {
    margin: 100px 0;
  }

  .dev-wrapper {
    flex-direction: column;
  }

  .dev-container {
    width: 90%;
  }
}