<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Section</title>
    <link rel="stylesheet" href="../css/equipe.css">
</head>
<body>
    <div class="main-container">
        <h2>Our Team</h2>
        <hr>
        <div class="members">
            <div class="team-member">
                <img src="../images/default_profile_pic.png">
                <h4>Felipe Congio Albino</h4>
                <p>Web Developer</p>
            </div>
            <div class="team-member">
                <img src="../images/default_profile_pic.png">
                <h4>Felipe Fernandes Alves</h4>
                <p>Web Developer</p>
            </div>
            <div class="team-member">
                <img src="../images/default_profile_pic.png">
                <h4>João Victor Montanaro</h4>
                <p>Web Developer</p>
            </div>
            <div class="team-member">
                <img src="../images/default_profile_pic.png">
                <h4>Júlia Moreira De Paula</h4>
                <p>Web Developer</p>
            </div>
        </div>
    </div>
    <!-- Our Team Page design using HTML CSS by raju_webdev -->
</body>
</html>